* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

.calculator {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: 33% 15%;
    grid-template-areas:
        "screen-calc history"
        "memory-buttons history"
        "numbers-and-operators memory";

    position: absolute;
    width: 850px;
    min-width: 850px;
    height: 550px;
    min-height: 550px;
    /* background-color: pink; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px black solid;
    font-size: 1.1rem;
}

.screen {
    background-color: blue;
    grid-area: screen-calc;
}

.screen p {
    text-align: center;
}

.memory-buttons {
    /* background-color: green; */
    grid-area: memory-buttons;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.memory-buttons button {
    width: 19%;
    height: 60%;
}

.numbers-and-operators {
    /* background-color: orange; */
    grid-area: numbers-and-operators;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.numbers-and-operators button {
    width: 24%;
    height: 15%;

}

.history {
    background-color: purple;
    grid-area: history;
}

.history p {
    text-align: center;
}

.memory {
    background-color: darkred;
    grid-area: memory;
}