* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* body {
    background-color: rgb(0, 0, 0);
}

.calculator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;

    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-width: 400px;
    height: 800px;
    min-height: 600px;
    border: 6px solid #0ff;
    border-radius: 5%;
    box-shadow: 0px 0px 40px 20px #0ff;
    padding: 8px 0px;

}

.screen {
    width: 90%;
    height: 16%;
    background-color: aqua;
    border: 3px solid rgb(62, 179, 179);
    background-color: rgb(97, 89, 89);
    border-radius: 5%;
}

button {
    width: 23%;
    height: 13%;
    background-color: rgb(29, 27, 27);
    border: 3px solid rgb(62, 179, 179);
    flex-grow: 0;

}

button:hover {
    background-color: rgb(106, 112, 112);
} */