* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 10px;
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    background-color: rgb(15, 5, 33);
    height: 100vh;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}

.calculator {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: 33% 15%;
    grid-template-areas:
        "screen-calc history"
        "memory-buttons history"
        "numbers-and-operators memory";

    position: absolute;
    width: 850px;
    min-width: 850px;
    height: 550px;
    min-height: 550px;
    background-color: rgb(57, 50, 124);
    background-color: linear-gradient(rgb(57, 50, 124) rgb(14, 237, 249));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px rgb(14, 237, 249) solid;
    font-size: 1.1rem;
    box-shadow: 0 0 10px 10px rgb(57, 50, 124);

}

.screen {
    background-color: rgb(57, 50, 124);
    grid-area: screen-calc;
    position: relative;
}

.numbers-and-operators>.operator {
    background-color: rgb(68, 142, 221);
}

.screen div {
    position: absolute;
    width: 90%;
    height: 75%;
    background-color: rgb(41, 38, 70);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -41%);
    box-shadow: 0 0 10px 4px rgb(14, 237, 249);
}

.screen p {
    text-align: center;
    color: rgba(255, 48, 234, 0.787);
    text-shadow: 10px 10px 10px rgba(255, 48, 234, 0.787)
}

.screen span {
    position: absolute;
    width: 90%;
    height: 80%;
    color: rgb(48, 224, 233);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    font-size: 3.5rem;
    line-height: 7rem;
    text-shadow: 3px 3px 6px rgba(48, 224, 233, 0.401);
}

.screen .small-screen {
    position: absolute;
    top: 20%;
    right: 10%;
    z-index: 2;
    color: rgba(48, 224, 233, 0.654);
    text-shadow: 3px 3px 6px rgba(48, 224, 233, 0.401);
    /* 
    height: 10px;
    width: 20%; */
}


button {
    border-radius: 8%;
}

.memory-buttons {
    grid-area: memory-buttons;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.memory-buttons button {
    width: 19%;
    height: 60%;
    font-size: 1.5rem;
    font-weight: 700;
    transition: 0.1s;
    cursor: pointer;
    background-color: rgb(92, 78, 149)
}

.memory-buttons button:hover {
    color: rgb(14, 237, 249);
    box-shadow: 0 0 10px 4px rgb(14, 237, 249);
    font-size: 1.8rem;
}

.numbers-and-operators {
    grid-area: numbers-and-operators;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.numbers-and-operators button {
    width: 24%;
    height: 15%;
    font-size: 1.5rem;
    font-weight: 700;
    transition: 0.3s;
    border: 0px;
    cursor: pointer;
    background-color: rgb(100, 96, 140);
}

.numbers-and-operators button:hover {
    color: rgb(14, 237, 249);
    box-shadow: 0 0 10px 4px rgb(14, 237, 249);
    font-size: 1.8rem;
}

.history {
    background-color: rgb(57, 50, 124);
    grid-area: history;
    position: relative;
}

.history p,
.memory p {
    text-align: center;
    color: rgba(255, 48, 234, 0.787);
    text-shadow: 10px 10px 10px rgba(255, 48, 234, 0.787)
}

.history span,
.memory span {
    color: white;
    padding: 5px;
}

.memory {
    position: relative;
    background-color: rgb(57, 50, 124);
    grid-area: memory;
}

.history div {
    position: absolute;
    width: 90%;
    height: 88%;
    background-color: rgb(41, 38, 70);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    box-shadow: 0 0 10px 4px rgb(14, 237, 249);
    overflow: scroll;
}

.history-container {
    padding: 1px 5px 1px 5px;
    color: rgba(48, 224, 233, 0.654);
    text-shadow: 3px 3px 6px rgba(48, 224, 233, 0.401);
    text-align: center;
    font-size: 1.3rem;

}

.history-container::-webkit-scrollbar {
    width: 0.5rem;
}

.history-container::-webkit-scrollbar-track {
    box-shadow: inset 0px 0 0px rgba(255, 48, 234, 0.787);
}

.history-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 48, 234, 0.787);
    outline: 0px solid rgba(255, 48, 234, 0.787);
}

.history-container::-webkit-scrollbar-corner {
    background: rgba(255, 48, 234, 0.787);
}

.memory div {
    position: absolute;
    width: 90%;
    height: 85%;
    background-color: rgb(41, 38, 70);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    box-shadow: 0 0 10px 4px rgb(14, 237, 249);
}